<thead>
  <tr>
    <% directives.each do |directive| %>
      <td>
        <%=  directive[1] %>
      </td>
    <% end %>
  </tr>
</thead>
<div class="nobreak">
  <% entries.each_with_index do |entry,i| %>
    <tr class="<%= "#{(i%2 > 0) ? 'Odd' : 'Even'}" %>" >
      <% directives.each do |directive| %>
        <td>
          <%= directive.size>2 ? send(directive[2],entry[directive[0]]) : entry[directive[0]] %>
        </td>
      <% end %>
    </tr>
  <% end %>
</div>


