<div id="share">
  <h2><%=@channel.name %></h2>
  <div>
    <h4>Owners</h4>
    <ul>
      <% @channel.owners.each do |owner| %>
          <li><%=h owner.display_name %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h4>Subscribers</h4>
    <ul>
      <% @channel.users.each do |user| %>
          <li><%=h user.display_name %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h4>Documents</h4>
    <ul>
      <% @channel.documents.each do |document| %>
          <li><%=h document.file_file_name %></li>
      <% end %>
    </ul>
  </div>
</div>