<div class="main">
  <div class="article">
    <h2>Flu Awareness</h2>
    <p class="date">January 9, 2011</p>
    <div class='lede'>
      <p class="article_link"><a href='http://www.texasflu.org' target="_blank" title="Texas Flu">Texas Flu</a></p>
      <p class="article_link"><a href='http://www.cdc.gov/flu/about/season/index.htm' target="_blank" title="2010-2011 Flu Season">2010-2011 Flu Season</a></p>
    </div>
  </div>

    <div class="article">
    <h2>Disaster Preparedness</h2>
    <p class="date">January 9, 2011</p>
    <div class='lede'>
      <p class="article_link"><a href='http://www.dshs.state.tx.us/preparedness/' target="_blank" title="Public Health Preparedness">Public Health Preparedness</a></p>
      <p class="article_link"><a href='http://www.dhs.gov/files/prepresprecovery.shtm' target="_blank" title="Preparedness, Response & Recovery">Preparedness, Response & Recovery</a></p>
    </div>
  </div>
</div>
