<div class="t_boot">
<h1>About TALHO Dashboard</h1>
<p>
  The TALHO Dashboard is an online site providing numerous public health services, such as disaster volunteer
  management (VMS), school illness and attendance tracking (Rollcall), and the dissemination of Health Alerts (HAN).
  This site is owned and managed by the Texas Association of Local Health Officials.
</p>
<p>
  You can set up contact devices to receive Phin Alerts.  Your account email is your first contact device, and you can
  add more addresses if you like.  TALHO recommends adding a phone device, and there are also choices for Blackberry
  PIN messaging and regular text messaging.  Thanks for your participation with TALHO PHIN.
</p>
<p>
  If you encounter any problems in completing these tasks, email support at <a href="mailto:admins@talho.org">admins@talho.org</a>
</p>
<p>Copyright © 2009 - 2011 Texas Association of Local Health Officials - All Rights Reserved</p>
</div>