<head>
  <Title>Ext Dashboard</Title>
  <%= javascript_include_tag 'jquery', 'ext/adapter/jquery/ext-jquery-adapter.js', 'ext/ext-all-debug.js' %>
  <%= stylesheet_link_tag 'resources/css/ext-all.css'  %>
</head>
<body>
<!-- EXT GOES HERE -->
</body>