<%= javascript_include_tag "faqs" %>
<h1 class='faq'>H1N1 Frequently Asked Questions</h1>

<ul>
  <li class='faq'><a class="faq">What is novel influenza (H1N1) (or swine flu) and how is it transmitted?</a>
    <div class='answer'>The respiratory virus that is currently circulating in the United States is passed from human to human without contact with pigs.  The name now being used is novel influenza H1N1 flu.  H1N1 flu is a respiratory illness thought to spread in the same way that regular flu is spread, which is through people infected with the virus who are coughing or sneezing.  It can be spread by touching something with flu viruses on it, like a tissue or a door knob, and then touching your mouth, eyes, or nose without washing or disinfecting your hands (hand sanitizer). </div>
  </li>
  <li class='faq'>
  		<a class="faq">What are the symptoms of H1N1 (swine flu)? </a>
      <div class='answer'>Almost all people in Texas with confirmed H1N1 flu (swine flu) have had a sudden onset of fever (half having a temperature greater than 102.5oF) and cough.  Most have had a sore throat.  Almost everyone with H1N1 flu (swine flu) have been taken care of at home and recovered in a few days.  Illnesses with a lot of nasal congestion and mild fever are probably not H1N1 flu (swine flu).  Illnesses with diarrhea and vomiting are probably not H1N1 flu.<br/><br/>
      Other symptoms may include runny nose, body aches, headache, chills, and fatigue.  Some people may also have diarrhea and vomiting.  People may have only 1 or 2 symptoms besides the fever, or they may have many.  People can infect others with the H1N1 flu even before they show symptoms, and they remain contagious for up to 7 or more days after they become sick.
      </div>
  </li>
  <li class='faq'>
  		<a class="faq">What do I do if I have H1N1 symptoms?</a>
      <div class='answer'><ul>
<li>        Stay home if you get sick.  Stay home from work, school, errands, and limit close contact with others to keep from infecting them. You should stay at home until you have had no fever for 24 hours without taking fever-reducing medication and are free of symptoms of the flu. In most cases H1N1 influenza will resolve without medical attention. If you have been diagnosed with H1N1, the recommendation is that you stay home for at least 7 days from onset of symptoms and also have had no fever for 24 hours without fever reducing medications.
</li>
<li>        If you are at risk for complications of influenza, call your health care provider. Report your symptoms, and follow their advice. Most people with nasal congestion and mild fever don't have H1N1 flu. For mild symptoms, try not to call your healthcare provider or visit the hospital emergency room.  Follow the suggestions below:
</li>
<li>        Get plenty of rest, drink fluids, take fever reducing medications if needed WARNING: DO NOT give aspirin or aspirin containing medications to children and youth 18 years and younger. </li>

<li>        If you do call your health care provider, follow your health care provider's advice. </li>
      </ul>
      </div>
    <li class='faq'>
    		<a class="faq">Who is at risk of complications of influenza?</a>
        <div class='answer'>

          <ul>
<li> Adults and children with certain chronic medical conditions including chronic lung problems such as asthma, heart, liver, blood, nervous system, muscular, or metabolic disorders such as diabetes,</li>
<li>Adults and children who have immunodeficiency or immunosuppression caused by medications such as corticosteroids and chemotherapy, or diseases such as HIV/AIDS, </li>
<li>Children ages 6 months to 18 years who are receiving long-term aspirin therapy and who might be at risk for experiencing Reye syndrome after influenza virus infection, </li>
<li>Persons 50 years old or older, particularly 65 years or older,</li>
<li>Children younger than 5 years old (under 12 months are especially vulnerable), </li>
<li>Persons in congregate care settings (such as nursing homes, residential schools, jails, etc), and</li>
<li>Pregnant women.</li></ul></div>
    </li>
  </li>
  <li class='faq'>
  		<a class="faq">How can I avoid getting infected?</a>
      <div class='answer'>You can protect yourself from the H1N1 flu (swine flu) by washing your hands frequently.  You should also avoid touching your eyes, nose, or mouth with hands that have not been washed or disinfected.  Avoid getting close to people who are sick (have fever, cough, sore throat).  Also, try to get plenty of sleep, exercise regularly, manage stress, drink plenty of fluids, and eat nutritious foods.</div>
  </li>
  <li class='faq'>
  		<a class="faq">What are considered severe symptoms?</a>
      <div class='answer'><h3>For Adults:</h3>
<ul><li>Has difficulty breathing</li>
<li>Has purple or blue discoloration of the lips</li>
<li>Is vomiting and unable to keep liquids down</li>
<li>Has signs of dehydration such as dizziness when standing, absence of urination, or in infants, a lack of tears when they cry</li>
<li>Has seizures (for example, uncontrolled convulsions)</li>
<li>Has loss of consciousness</li>
<li>Has an alteration in thinking</li></ul>
<h3>For Children:</h3>
<ul><li>Fast breathing or trouble breathing</li>
<li>Bluish or gray skin color</li>
<li>Not drinking enough fluids</li>
<li>Not waking up or not interacting</li>
<li>Being so irritable that the child does not want to be held</li>
<li>Flu-like symptoms improve but then return with fever and worse cough</li>
<li>Fever with a rash</li></ul>
      <h4>IF SEVERE SYMPTOMS DEVELOP, CALL YOUR HEALTH CARE PROVIDER.  IF THE HEALTHCARE PROVIDER IS NOT AVAILABLE, GO TO THE EMERGENCY ROOM.</h4></div>
  </li>
  <li class='faq'>
  		<a class="faq">Should I be tested for H1N1 flu (swine flu)?</a>
      <div class='answer'>Testing for H1N1 flu will not make a difference in how a person is treated. Most people do not need testing, and the health department doesn't recommend it except under certain circumstances. Your health care provider will make the decision as to whether you should be tested.</div>
  </li>
  <li class='faq'>
  		<a class="faq">Is there a vaccine for H1N1 flu (swine flu)?</a>
      <div class='answer'>The seasonal influenza vaccine does not provide protection against H1N1 flu.  A new H1N1 vaccine is being produced.  That vaccine will be available in two forms &mdash; nasal mist and injection.  Both forms will become available in mid-October, though in limited quantities.  The initial shipments of vaccine will be used to immunize high-risk individuals.  Larger quantities will become available for the general public later in the Fall.  It's also important to be up to date on your other vaccinations, such as Tdap and Pneumococcal vaccines, to avoid getting infected with more than one virus at once.</div>
  </li>
  <li class='faq'>
  		<a class="faq">If I experience flu symptoms, do I need medication?</a>
      <div class='answer'>Consult your health care provider regarding the need for medication.  Persons at risk of complications from flu may be prescribed antiviral medication.  Antibiotics are not effective against virsuses and should not be requested.  Most people will need only fever reducing medications such as acetaminophen (Tylenol) or ibuprofen. <b>WARNING: DO NOT</b> give aspirin or aspirin containing medications to children and youth 18 years and younger.</div>
  </li>
  <li class='faq'>
  		<a class="faq">Is there a place to go for free treatment?</a>
      <div class='answer'>If you have symptoms of influenza, seek medical care as you usually do. If you normally receive your care free, treatment will be free. If you have insurance, insurance will cover the cost of care as usual. Call 2-1-1 for information regarding possible resources.</div>
  </li>
  <li class='faq'>
  		<a class="faq">How do you prevent the spread of H1N1 flu (swine flu)?</a>
      <div class='answer'>If you are sick, stay home unless you have a doctor's appointment.  Avoid being around other people because you can pass the illness to others.  Cover your mouth and nose with a tissue when you cough or sneeze and then throw the tissue away.  Wash your hands frequently with soap and water or use hand sanitizer.  Be sure to do this after coughing or sneezing.</div>
  </li>
  <li class='faq'>
  		<a class="faq">What should I do if someone I live with is sick with flu-like symptoms?</a>
      <div class='answer'>When providing care to a household member who is sick with influenza, the most important ways to protect yourself and others who are not sick are to:
<ul><li>keep the sick person away from other people as much as possible</li>
<li>remind the sick person to cover their coughs, and clean their hands with soap and water or an alcohol-based hand rub often, especially after coughing and/or sneezing. </li>
<li>have everyone in the household clean their hands often, using soap and water or an alcohol-based hand rub </li>
<li>ask your healthcare provider if household contacts of the sick person&mdash;particularly those contacts who may have chronic health conditions&mdash;should take antiviral medications such as oseltamivir (Tamiflu&trade;) or zanamivir (Relenza&trade;) to prevent the flu. </li>
      </ul>
      Additional details on caring for a sick person such as laundry, cleaning and having visitors are available at the CDC H1N1 flu website.  Select "Info for Special groups" then select "Taking Care of a Sick Person in Your Home."  (<a href='http://www.cdc.gov/h1n1flu/guidance_homecare.htm'>http://www.cdc.gov/h1n1flu/guidance_homecare.htm</a>)</div>
  </li>
  <li class='faq'>
  		<a class="faq">What should I do if someone I live with has confirmed H1N1 flu (swine flu)?</a>
      <div class='answer'>Precautions are the same as above.  The persons who are ill should stay home for at least 7 days and until there has been no fever (>100&deg;F) for 24 hours without fever reducing medications.</div>
  </li>
  <li class='faq'>
  		<a class="faq">Will schools be closed if a lot of children start getting sick?</a>
      <div class='answer'> The CDC has just announced that they are no longer recommending school closures.  If the situation changes, local independent school districts will notify parents, students, and teachers through the local news media, just as they do for weather closures.</div>
  </li>
  <li class='faq'>
  		<a class="faq">If they close the schools, can my children play with other kids?</a>
      <div class='answer'>Students/children should not be around each other when schools are closed.  The purpose of closing schools is to decrease exposure.</div>
  </li>
  <li class='faq'>
  		<a class="faq">I work with the elderly; should I continue to work with them?</a>
      <div class='answer'>Anyone with symptoms of a respiratory illness should stay home and avoid close contact with others.  Consult your employer for employment specific policy.   </div>
  </li>
  <li class='faq'>
  		<a class="faq">How do we get more information/updates?</a>
      <div class='answer'>Continue to monitor the Department of State Health Services website (<a href='http://www.texasflu.org'>www.texasflu.org</a>) for information, the Centers for Disease Control and Prevention website (www.cdc.gov ) and your local news.</div>
  </li>
</ul>