<div id="news_articles">
  <%= render :partial => "static_articles" %>
  <div id="right_column" class="right_column">
    <div class="texas_prepares">
      <h2>TexasPrepares.org</h2>
      <p class="date">July 27, 2010</p>
      <div class="lede">
        <p>
          <a href="http://www.texasprepares.org" target="_blank" title="Texas Prepares">
            <img src="/images/texas_prepares_button.jpg" alt="Texas Prepares Button" />
          </a>
        </p>
        <p class="article_link"><a href='http://www.texasprepares.org' target="_blank" title="Read More">Read More</a></p>

      </div>
    </div>
  </div>
  <%= render :partial => "feed_articles", :locals => {:entries => @entries} %>
</div>
