<div id="news_articles">
  <div class="main">
    <div class="article">
      <h2>New Texas PHIN Portal Debuts - www.txphin.org</h2>
      <p class="date">Oct 05, 2009</p>
      <img src="images/birthday.gif" style='float: left; margin-right: 10px; '/>
      <div class='lede'>
        <p>On Monday, the 5th of October, the newest version of Texas' Public Health Information Network (PHIN) portal became available online.  This new website, located at www.txphin.org, will begin replacing older versions of public health applications that currently reside at other websites.  Two of the websites to be replaced are the old version of the PHIN Portal at texphin.dshs.state.tx.us and the even older HAN application at txhan.tdh.state.tx.us.  This new portal is being developed by the Texas Association of Local Health Officials (TALHO) and the Department of State Health Services (DSHS) as a collaborative project.  Work began in July of '09 and will continue indefinitely as more and more resources and applications are brought into the portal.</p>
        <p class='more'><a href=''>Read more about this article</a></p>
      </div>
      <div class='body'>
        <p>The PHIN concept was created by the Centers for Disease Control (CDC) and grew out of earlier work by the CDC on the Health Alert Network guidelines and various other public health technology initiatives.  The PHIN concept is now a collection of technological functionalities and resources useful to all areas of public health.  The new portal is a web-based implementation of the PHIN concept.  HAN is now simply a subcomponent of the PHIN Portal, www.txphin.org.  In time, more and more subcomponents will be added to the portal.</p>
        <p>The first subcomponent to be brought online within the PHIN Portal is the HAN application.  This section of the PHIN provides for the important alerting capabilities every public health department needs.  Online, on-demand training for this application will be available sometime during the week of Oct. 5th and will be accessible from within the PHIN Portal.</p>
        <p>More portal apps are soon to come.  A school surveillance application, RollCall, will be released soon.  This component contains epi tools for the analysis of school absentee data and school clinic ILI reports.  TALHO will be providing integration services to help school districts get their data into the PHIN on a daily basis.  Other portal apps coming soon include a calendar tool, FAQs, chat, and document sharing/storage.  Further in the future, such apps as RODS and ESSENCE will be made available through the portal. "Eventually, we would like this portal to become an invaluable tool for public health in Texas.  Our goal is to provide a type of web desktop that has all the applications and tools we and our partners need."</p>
        <p>In addition to new applications, the new PHIN Portal makes many big improvements in usability and functionality.  "Passwords won't expire every ninety days.  And getting a password reset no longer involves staff action.  There's a password reset link on the authentication page." says portal designer Jason Phipps.  He went on to highlight a few more improvements like better uptime and a simpler user interface.</p>
        <p>Much of the functionality won't be available on opening day, but DSHS and TALHO staff report that the HAN alerting portion of the portal is ready.  Each alerting entity will be contacted during the month of October and encouraged to view the available training and try out a test of the alerting functionality.  Developers also revealed that an export of the registered users of the old PHIN portal has been accomplished, though only names and email addresses were able to be transferred into the new system.  Email notices will be sent to each user asking them to visit the new portal to request a password reset, allowing them to establish a password on the new portal.  Those users' passwords on the old portal will remain the same.</p>
        <p class='less'><a href=''>Collapse this article</a></p>
      </div>
    </div>
    <div class="article">
      <h2>Hurricane season has been a dud -- so far</h2>
      <h3>JENNIFER KAY Associated Press Writer</h3>
      <p class="date">Oct 05, 2009</p>
      <img src="images/hurricane.jpg" style='float: left; margin-right: 10px; '/>
      <div class='lede'>
        <p>It may be tempting the weather gods just to point this out, but this has been a dud of a hurricane season so far.</p>
        <p>Only two hurricanes have formed in the Atlantic over the past three months, and neither hit the U.S. -- a somewhat unusual lull. "I'm glad that I didn't have to go out and get anything -- yet," said Lissette Galiana, who was shopping at a Wal-Mart in suburban Miami on Friday, around what is usually the very peak of the Atlantic hurricane season. "There's always a chance."</p>
        <p class='more'><a href=''>Read more about this article</a></p>
      </div>
      <div class='body'>
        <p>Forecasters attribute the calm to a weak El Nino, the periodic warming of the central Pacific Ocean. It is producing strong upper-level winds out of the west that are shearing off the tops of thunderstorm clouds that can develop into hurricanes.</p>
        <p>Of course, the season has nearly 2 1/2 months to go, and forecasters and emergency planners are warning people not to let their guard down, noting that powerful hurricanes have hit in the fall, including Wilma, which cut an unusually large swath of damage across Florida in October 2005.</p>
        <p>"It's less active, but there's still possibility of a hurricane strike," said Gerry Bell, a hurricane forecaster at the National Oceanic and Atmospheric Administration's Climate Prediction Center in Washington.</p>
        <p>NOAA's forecast just before the June 1 start of the Atlantic season called for nine to 14 named tropical storms, with four to seven of them becoming hurricanes.</p>
        <p>No tropical storms took shape until Aug. 15, when Ana formed. Five more have developed since then, including Claudette, which hit the Florida Panhandle. Two of those tropical storms strengthened into Hurricanes Bill and Fred.</p>
        <p>Bill never came ashore in the U.S. but churned up waves blamed for at least two deaths -- one in Maine, the other in Florida. Fred, meanwhile, weakened to a tropical storm Friday while it was still far out over the Atlantic.</p>
        <p>By mid-September of last year, there had been nine tropical storms, five of them hurricanes, including Ike, which plowed into Galveston Island, Texas, on Sept. 13, Gustav, which pounded Louisiana on Sept. 1, and Dolly, which slammed South Texas in late July.</p>
        <p>In 2005, Hurricane Katrina smashed New Orleans in late August, and Hurricane Rita, the 17th named storm of the season, howled ashore near the Texas-Louisiana line on Sept. 24.</p>
        <p>But no hurricanes at all struck the U.S. in 2000, 2001 or 2006. And during a less active period from 1970 to 1994, there were six seasons when no hurricanes hit this country.</p>
        <p>The Federal Emergency Management Agency advises coastal residents to maintain kits of emergency supplies and other items that might be needed in a storm.</p>
        <p>Venus Witherspoon of Miami keeps a disaster kit packed all year with candles, batteries, flashlights, canned food, a radio and about 10 gallons of water. She has maintained it since Wilma four years ago.</p>
        <p>"You never know when you're going to need it," said the 54-year-old state employee. "The things you keep in there don't perish. I might drink the water, but then I replace it. I can always use the candles."</p>
        <p>Like a lot of other Floridians, Witherspoon considers a disaster kit just part of the cost of living on the coast.</p>
        <p>"I didn't have to use it last year," she said, "so I had it for this year."</p>
        <p class='less'><a href=''>Collapse this article</a></p>
      </div>
    </div>
    <div class="article">
      <h2>Key Flu Indicators</h2>
      <p class="date">Oct 05, 2009</p>
      <div class='lede'>
        <p>Each week CDC analyzes information about influenza disease activity in the United States and publishes findings of key flu indicators in a report called FluView. During the week of September 20-26, 2009, a review of the key indicators found that influenza activity remained elevated in the United States.</p>
        <p class='more'><a href=''>Read more about this article</a></p>
      </div>
      <div class='body'>
        <p>Below is a summary of the most recent key indicators:</p>
        <p>
          <ul>
            <li>Visits to doctors for influenza-like illness (ILI) continued to increase in some areas of the country, and overall, are higher than levels expected for this time of the year.</li>
            <li>Total influenza hospitalization rates for laboratory-confirmed influenza are higher than expected for this time of year for adults and children. And for children 5-17 and adults 18-49 years of age, hospitalization rates from April – September 2009 exceed average flu season rates (for October through April).</li>
            <li>The proportion of deaths attributed to pneumonia and influenza (P&I) based on the 122 Cities Report was low and within the bounds of what is expected at this time of year. However, 60 pediatric deaths related to 2009 H1N1 flu have been reported to CDC since April 2009, including 11 deaths reported this week.</li>
            <li>Twenty-seven states are reporting widespread influenza activity at this time. They are: Alabama, Alaska, Arizona, Arkansas, California, Colorado, Delaware, Florida, Georgia, Illinois, Indiana, Kansas, Kentucky, Louisiana, Maryland, Minnesota, Mississippi, New Mexico, North Carolina, Ohio, Oklahoma, Pennsylvania, Texas, Tennessee, Virginia, Washington, and Wyoming. Any reports of widespread influenza activity in September are very unusual.</li>
            <li>Almost all of the influenza viruses identified so far are 2009 H1N1 influenza A viruses. These viruses remain similar to the virus chosen for the 2009 H1N1 vaccine, and remain susceptible to the antiviral drugs oseltamivir and zanamivir with rare exception.</li>
          </ul>
        </p>
        <img src="images/FluWeek.gif"/><img src="images/ILI3YRreports.gif"/>
        <p class='less'><a href=''>Collapse this article</a></p>
      </div>
    </div>
    <div class="article">
      <h2>Latest Seasonal and H1N1 Flu Vaccine Info</h2>
      <h3>By Claire Ashton, Texas Assocation of Local Health Officials</h3>
      <p class="date">Oct 02, 2009</p>
      <div class='lede'>
        <p>As of October 2, 2009, the Texas Department of State Health Services (DSHS) classification for general flu activity in Texas – an aggregate count of both seasonal flu and H1N1,  is “widespread”.  The “widespread” classification is used when there are increases in flu-like illnesses and recent lab-confirmed flu cases in at least half of the state’s regions.  Based on the “2008-2009 Influenza Season Week 37 (September 13-19, 2009) Report” from The Centers for Disease Control and Prevention (CDC), 99% of all subtyped influenza A viruses being reported to the organization were 2009 influenza A (H1N1) viruses.</p>
        <p class='more'><a href=''>Read more about this article</a></p>
      </div>
      <div class='body'>
        <p>Dr. David Lakey, DSHS Commissioner, recommends that people get seasonal flu vaccinations now and H1N1 vaccinations as they become available. The H1N1 vaccine is not intended to replace the seasonal flu vaccine – it is intended to be used alongside the seasonal flu vaccine.  While the seasonal flu vaccine is currently available throughout Texas, the H1N1 vaccine is not anticipated to be available to the public until the second week of October.  Limited quantities will be available, with availability increasing through November and December.  Seasonal flu vaccine production began before production of the new H1N1 vaccine variety.  This unusual situation of having two, separate flu vaccines for the 2009 season is unique.  Next year, the H1N1 flu strain will be included in the normal seasonal flu vaccine.</p>
        <p>According to the CDC, anyone who wants to reduce their chances of getting seasonal flu can get vaccinated.  It is strongly recommended that those people who are at high-risk for having serious seasonal flu-related complications and people who live with or care for those at high risk for serious complications get vaccinated each year.</p>
        <p>Those at high risk for seasonal flu include children ages 6 months through 18 years, those 50 and older, people with chronic medical conditions, residents of long-term care facilities and pregnant women.</p>
        <p>Seasonal flu vaccine is available in shot and nasal spray forms.  The nasal spray is a vaccine made with live, weakened flu viruses that do not cause the flu (sometimes called LAIV for "live attenuated influenza vaccine" or FluMist®). LAIV (FluMist®) is approved for use in healthy people 2-49 years of age who are not pregnant.  The shot is an inactivated vaccine (containing killed virus) that is given with a needle, usually in the arm. The flu shot is approved for use in people older than 6 months, including healthy people and people with chronic medical conditions.  Vaccination by either method takes about two weeks to become effective.</p>
        <p>Adverse reactions to the seasonal flu vaccine may include soreness, redness, and swelling where the shot was given, low grade fever, and aches, although if these problems occur they begin soon after the shot and only last one to two days.  These symptoms are reported to be rare.  CDC and several universities will be tracking incidence of adverse reactions through various means, including a follow-up study of 100,000 vaccine recipients and an automated health insurance claims data analysis system.</p>
        <p>When the CDC’s Advisory Committee on Immunization Practices (ACIP) met in July 2009, they prioritized 5 key populations on which to focus vaccination efforts this fall in order to reduce the impact and spread of H1N1 including:</p>
        <p>
          <ul>
            <li>Pregnant women</li>
            <li>People who live with or care for children younger than 6 months of age</li>
            <li>Health care and emergency medical services personnel</li>
            <li>Persons between the ages of 6 months through 24 years of age</li>
            <li>People from ages 25 through 64 years who are at higher risk for novel H1N1 because of chronic health disorders or compromised immune systems</li>
          </ul>
        </p>
        <p>According to the state’s health information helpline – Texans can now dial 2-1-1 to receive over the phone medical guidance – the H1N1 vaccine will be administered in one shot for those over the age of 10 and in two shots, given 30 days apart, for those under the age of 10.</p>
        <p>“We’ve been told that we’ll have about 15 million doses for Texas after all is said and done, but it won’t be available all at once,” said Commissioner Lakey.  The initial 3.4 million doses of H1N1 vaccine that were projected for the state of Texas by mid-October have been reduced to 1.7 million doses.  DSHS is partnering with 8 chain pharmacies; a strategic decision by the State in order to reach the most people.  The first doses of H1N1 vaccine will be allotted to providers who primarily treat 2-3 year-olds.  In the first H1N1 vaccine shipment, local health departments and districts can expect to share a divided 10,000 doses, with each agency receiving no less than 100 doses and no more than 700 doses.</p>
        <p>According to DSHS, the CDC is revising, on a daily basis, estimates on the amount of H1N1 vaccine to ship.</p>
        <p class='less'><a href=''>Collapse this article</a></p>
      </div>
    </div>
    <div class="article">
      <h2>TALHO INTRODUCES ALL-TERRAIN COMMUNICATIONS VEHICLE</h2>
      <h3>By Mandy Dunn, TALHO</h3>
      <p class="date">Oct 05, 2009</p>
      <img src="images/truck.png" style='float: left; margin: 10px; '/>
      <div class='lede'>
        <p>TALHO, the Texas Association of Local Health Officials, has released its All-Terrain Communications Vehicle – one of several Mobile Tactical Units (MTU) engineered by the organization’s Technology Department. This mobile platform houses communication and power equipment to assist during emergency response deployments.</p>
        <p>"While our power system looks like any other renewable energy system, on the inside it uses Lithium Iron Phosphate batteries that represent the latest and most reliable Lithium Ion technology," explains Scott Gostisha, Director of Network Operations at TALHO. "These batteries have a life-cycle that is six times more substantial than standard lithium batteries." </p>
        <p>The All-Terrain Communication Vehicle also utilizes a clean-burning propane generator and renewable energy resources in the form of both wind and solar power to recharge the battery bank.</p>
        <p class='more'><a href=''>Read more about this article</a></p>
      </div>
      <div class='body'>
        <p>In the event of a disaster, this MTU can reach hard-to-access locations to provide much-needed voice, video and data communication capabilities for surrounding areas through a wireless hot-spot.  Also, the communications vehicle can tie into both data centers and Emergency Operations Centers via hardline if necessary, explains Gostisha, who assisted in engineering the vehicle’s communications infrastructure.</p>
        <p>TALHO’s All-Terrain Communications Vehicle may be requested in preparation for a pending emergency situation, like a hurricane, or after disaster impact, depending on its availability.</p>
        <p class='less'><a href=''>Collapse this article</a></p>
      </div>
    </div>
  </div>
	<!--<div class="extras">
	  <h2>Upcoming Events</h2>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	</div>-->
</div>
