<div id="news_articles">
	<div class="main">
	  <%= render @articles %>
	</div>
	<div class="extras">
	  <h2>Upcoming Events</h2>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	</div>    
</div>