<div id="news_articles">
	<div class="main">
          <div class="article">
              <h2>OpenPHIN takes the world by storm</h2>
                <p class="date">Oct 02, 2009</p>
                  <div class='lede'><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                    <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                      <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor in reprehenderit in voluptate velit esse cilti reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui o nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                        <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor o uip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                          <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor o uip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                            <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor o uip ex ea commodo consequat.  rident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                              <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor o uip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
                                <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor o uip ex ea comtet anim id est laborum.</p></div>
                                  <div class='body'><p>Lorem ipsum dolor sit amet, consectetur adi are dolor o uip ex ea commodo consequat.  rident, sunt in culpa qui officia deser
	</div>
  </div>
  </div>
	<div class="extras">
	  <h2>Upcoming Events</h2>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	  <div class="event">
	    <p class="date">Sep 30, 2009</p>
	    <h3>Some Event Name</h3>
	    <p>
	      Lorem ipsum dolor sit amet, consectetuer 
	      adipiscing elit, sed diam nonummy nibh 
	      euismod tincidunt ut laoreet dolore
	    </p>
	  </div>
	</div>    
</div>
