<div id="news_articles">
	<p><%= current_user.email %></p>
    <%= render :partial => "static_articles" %>
    <div id="right_column" class="right_column">
      <div>
        <h2>2010 Hurricane Season Tracking Map</h2>
        <p class="date">July 08, 2010</p>
        <div class='lede'>
          <p>
          <% if Rails.env == "development" || Rails.env == "test" || Rails.env == "cucumber" %>
            <div style="width:200px;height:200px;border:1px solid;">
              This is a place holder for the storm map, which is generated using an API key registered to the domain txphin.org.  For development and testing this
              place holder will be used.
            </div>
          <% else %>
            <script src="http://www.stormpulse.com/api/maps/current/?key=2h9xhxuiksqthv5kaql5p84qmhz3gjygi6n70002" type="text/javascript"></script>
          <% end %>
          </p>
          <br/>
          <p><a href='http://www.stormpulse.com' target="_blank" title="Via: www.stormpulse.com.  Click here for original." style="font-size:15px;">Via: www.stormpulse.com. Click here for original.</a></p>
        </div>
      </div>
  </div>
  <%= render :partial => "feed_articles", :locals => {:entries => @entries} %>
</div>