<div id="news_articles">
    <%= render :partial => "static_articles" %>
    <div id="right_column" class="right_column">
      <%= render :partial => "news_articles" %>
    </div>
  <%= render :partial => "feed_articles", :locals => {:entries => @entries} %>
</div>
