<div id="news_articles">
    <%= render :partial => "static_articles" %>
    <div id="right_column" class="right_column">
      <div>
        <h2>2010 Hurricane Season Tracking Map</h2>
        <p class="date">July 08, 2010</p>
        <div class='lede'>
          <p>
          <% if Rails.env == "development" || Rails.env == "test" || Rails.env == "cucumber" %>
            <embed width="100%" height="590" flashvars="host=www.txphin.org&amp;key=2h9xhxuiksqthv5kaql5p84qmhz3gjygi6n70002" allowscriptaccess="always" quality="high" bgcolor="#000000" name="stormpulse" id="stormpulse" src="http://www.stormpulse.com/swf/stormpulse.swf?v=223&amp;env=API&amp;region=10" type="application/x-shockwave-flash">
          <% else %>
            <script src="http://www.stormpulse.com/api/maps/current/?key=2h9xhxuiksqthv5kaql5p84qmhz3gjygi6n70002" type="text/javascript"></script>
          <% end %>
          </p>
          <br/>
          <p><a href='http://www.stormpulse.com' target="_blank" title="Via: www.stormpulse.com.  Click here for original.">Via: www.stormpulse.com. Click here for original.</a></p>
        </div>
      </div>
  </div>
  <%= render :partial => "feed_articles", :locals => {:entries => @entries} %>
</div>
