<ul>
  <li<%= tab_me new_admin_group_path %>><%= link_to s("Add Group"), new_admin_group_path %></li>
  <li<%= tab_me admin_groups_path %>><%= link_to s("View Groups"), admin_groups_path %></li>
</ul>