<ul>
  <li class="current"><%= link_to(s('HAN Home'), alerts_path) %></li>
  <%= content_tag(:li, link_to(s('Send an Alert'), new_alert_path, :class => 'sendalert')) if current_user.alerter? %>
<%- if current_user.is_admin? -%>
  <li><%= link_to s('View Pending Requests'), admin_pending_requests_path, :class => '.viewpendingrequests' %></li>
<%- end -%>
  <%= content_tag(:li, link_to(s('View Alerts'), alerts_path, :class => '.viewalerts')) if current_user.alerter? %>
</ul>