<img src="/images/talho_phin/talho_phin_title.jpg">
<br />    <br />
<div class="details">
  <p>The TALHO Public Health Information Network (TALHO Phin) is an online portal containing a collection of applications which provide users with a range of functions 
    to carry out public health preparedness goals and duties.
    <a href="/tutorials/Registering_and_Navigating_The_PHIN_-_Manual.pdf">Click here</a> for a tutorial on registering and navigating the PHIN,
    and <%= link_to "here", "/tutorials/Health_Alert_Network_Training_-_Manual.pdf" %> for Health Alert Network (HAN) training.</p>
  <p>To learn more about TALHO Phin, please visit <%= link_to domain_config['about_button_label'], domain_config['about_button_url'] %></p>
</div>