<div class="details">
  <p>
    The Member Dashboard is an online community where local health departments and districts with valid TALHO
    memberships can access meeting materials, news and documents, our annual directory, training materials,
    software applications, member forums, and request technical assistance.
  </p>
  <p>
    <a href="/tutorials/Registering_and_Navigating_The_PHIN_-_Manual.pdf">Click here</a> for a tutorial on registering for the Member Dashboard or call our help desk at (512) 814-2546.
  </p>
</div>