<div id="feature">
  <h2>Public Health Information Network</h2>
</div>
<div class="details">
  <p class="texas_dshs"><a href="http://www.dshs.state.tx.us/" target="_blank">Texas DSHS</a></p>
  <p>The Texas Public Health Information Network (PHIN) is an online portal containing a collection of applications which provide users with a range of functions to carry out public health preparedness goals and duties.
    <a href="/tutorials/Registering_and_Navigating_The_PHIN_-_Manual.pdf">Click here</a> for a tutorial on registering and navigating the PHIN, and <%= link_to "here", "/tutorials/Health_Alert_Network_Training_-_Manual.pdf" %> for Health Alert Network (HAN) training.</p>
  <p>To learn more about TXPHIN, please visit <%= link_to "About TXPHIN", about_dashboard_path %></p>
</div>