<h2>Forums</h2>
<p><%= link_to "New Forum", new_forum_path %></p>

<ul class="forums">
  <% for forum in @forums %>
    <li class="forum_name">
      <%= link_to h(forum.name), forum_topics_path(forum) %>
      <% for_moderators_of forum  do -%>
        <%= link_to "Edit", edit_forum_path(forum) %>
      <% end %>
      <br />
      <% if (topic_last = forum.topics.recent(1).first) %>
        <div class="forum_sub">
          <%= "Lastest Topic: #{link_to h(topic_last.name),forum_topic_path(forum,topic_last)} by #{topic_last.poster.name}"-%>
        </div> 
      <% end %>
    </li>
  <% end %>
</ul>

