.idea
.idea/*
*.swp
.idea
config/*.db
*.sqlite3*
*.log
.svn
test
tmp/*
.DS_Store
.rake_tasks*
db/schema.rb
.project
.loadpath
.tmp*
public/system/photos
config/*.sphinx.conf
db/sphinx
log/searchd.*.pid
coverage/
.autotest
message_recordings/*.wav
message_recordings/tmp/*.wav
public/javascripts/all.js
public/javascripts/none.js
public/stylesheets/all.css
public/stylesheets/none.css
public/stylesheets/plugins.css
public/stylesheets/preloadMask.css
.loadpath
diagrams/
attachments
test
spec/fixtures/*.yml
files
db/development_structure.sql
public/tutorials
config/initializers/smtp.rb
.bundle
vendor/cache
public/rrd
firebug.xpi
app/assets/*/han
app/assets/*/vms
app/assets/*/talho
app/assets/*/rollcall
app/assets/*/facho
public/*/talho
lib/workers/han
lib/workers/vms
lib/workers/rollcall
vendor/plugins/han
vendor/plugins/rollcall
vendor/plugins/vms
vendor/plugins/talho
vendor/plugins/facho
spec/rollcall
config/*.yml
reports/*
lib/workers/plugin_workers
app/models/report/rollcall
app/models/report/attendance_all_recipe_internal.rb
app/models/report/ili_all_recipe_internal.rb
app/models/report/nurse_assistance_recipe.rb
*~
