[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
[submodule "vendor/plugins/auto_complete_jquery"]
	path = vendor/plugins/auto_complete_jquery
	url = git://github.com/chris/auto_complete_jquery.git
[submodule "vendor/plugins/happymapper"]
	path = vendor/plugins/happymapper
	url = git://github.com/jnunemaker/happymapper
[submodule "vendor/plugins/seed-fu"]
	path = vendor/plugins/seed-fu
	url = git://github.com/mbleigh/seed-fu.git
[submodule "public/javascripts/FCBKcomplete"]
	path = public/javascripts/FCBKcomplete
	url = git://github.com/emposha/FCBKcomplete.git
[submodule "vendor/plugins/webrat"]
	path = vendor/plugins/webrat
	url = git://github.com/collectiveidea/webrat.git
[submodule "vendor/plugins/no-peeping-toms"]
	path = vendor/plugins/no-peeping-toms
	url = git://github.com/pat-maddox/no-peeping-toms.git
