[submodule "vendor/plugins/awesome_nested_set"]
	path = vendor/plugins/awesome_nested_set
	url = git://github.com/collectiveidea/awesome_nested_set.git
[submodule "vendor/plugins/auto_complete_jquery"]
	path = vendor/plugins/auto_complete_jquery
	url = git://github.com/chris/auto_complete_jquery.git
[submodule "public/javascripts/FCBKcomplete"]
	path = public/javascripts/FCBKcomplete
	url = git://github.com/collectiveidea/FCBKcomplete.git
[submodule "vendor/plugins/webrat"]
	path = vendor/plugins/webrat
	url = git://github.com/collectiveidea/webrat.git
[submodule "vendor/plugins/no-peeping-toms"]
	path = vendor/plugins/no-peeping-toms
	url = git://github.com/patmaddox/no-peeping-toms.git
[submodule "vendor/plugins/happymapper"]
	path = vendor/plugins/happymapper
	url = git://github.com/talho/happymapper.git
[submodule "vendor/plugins/delayed_job"]
	path = vendor/plugins/delayed_job
	url = git://github.com/collectiveidea/delayed_job.git
[submodule "vendor/plugins/caching_presenter"]
	path = vendor/plugins/caching_presenter
	url = git://github.com/mhs/caching_presenter.git
[submodule "vendor/plugins/rspec-on-rails-matchers"]
	path = vendor/plugins/rspec-on-rails-matchers
	url = git://github.com/brandon/rspec-on-rails-matchers.git
[submodule "vendor/plugins/deploy_and_deliver"]
	path = vendor/plugins/deploy_and_deliver
	url = git://github.com/collectiveidea/deploy_and_deliver.git
[submodule "vendor/plugins/exception_notification"]
	path = vendor/plugins/exception_notification
	url = git://github.com/collectiveidea/exception_notification.git
[submodule "vendor/plugins/backgroundrb"]
	path = vendor/plugins/backgroundrb
	url = git://github.com/gnufied/backgroundrb.git
[submodule "vendor/plugins/thinking-sphinx"]
	path = vendor/plugins/thinking-sphinx
	url = git://github.com/brandon/thinking-sphinx.git
[submodule "vendor/plugins/hoptoad_notifier"]
	path = vendor/plugins/hoptoad_notifier
	url = git://github.com/thoughtbot/hoptoad_notifier.git
[submodule "vendor/plugins/googlecharts"]
	path = vendor/plugins/googlecharts
	url = git@github.com:talho/googlecharts.git
[submodule "vendor/plugins/rails_indexes"]
	path = vendor/plugins/rails_indexes
	url = git://github.com/eladmeidar/rails_indexes.git
[submodule "vendor/plugins/rack-bug"]
	path = vendor/plugins/rack-bug
	url = git://github.com/brynary/rack-bug.git
[submodule "vendor/plugins/open_flash_chart"]
	path = vendor/plugins/open_flash_chart
	url = git://github.com/pullmonkey/open_flash_chart.git
[submodule "vendor/plugins/serial"]
	path = vendor/plugins/serial
	url = git://github.com/karmajunkie/serial.git
[submodule "vendor/plugins/csv_builder"]
	path = vendor/plugins/csv_builder
	url = git://github.com/econsultancy/csv_builder.git
