Someone has requested that we send you a link to change your password.<br/>

If you didn't request this, ignore this email. Your password will not be changed.<br/>

Follow this link to change your password: <a href="<%= edit_user_password_url(@user,
      :token  => @user.confirmation_token,
      :escape => false) %>">Change Password</a>

