<h1>Pending Organization Membership Requests</h1>
<br>
<table class='pending_role_requests'>
  <tr>
    <th>Requester</th>
    <th>Name</th>
    <th>Actions</th>
  </tr>

<% OrganizationMembershipRequest.unapproved.each do |org_member_request| %>
  <% next unless current_user.is_org_admin_for?(org_member_request.user) %>
  <tr class='pending_role_requests'>
    <% if org_member_request.user.nil? %>
    <td class='requester_email'>unknown user</td>
    <% else %>
    <td class='requester_email'><%= link_to org_member_request.user.email, user_profile_path(org_member_request.user) %></td>
    <% end %>
    <td class='role'><%=h org_member_request.organization.name %></td>
    <td><a href='<%=deny_admin_organization_membership_request_path(org_member_request) %>' class='deny_link'>Deny</a> | <a href='<%=approve_admin_organization_membership_request_path(org_member_request) %>' class='approve_link'>Approve</a></td>
  </tr>
<% end %>
</table>
