<div id="new_share_container">
  <%- form_for :share, nil, :url => { :controller => "shares", :action => "create"} do |f| -%>
    <%= f.label :name, "Share Name" %>
    <%= f.text_field :name, :size => "18" %>
    <%= f.submit "Create Share" %>
  <%- end -%>
</div>