<div id="share">
  <h2><%=@share.name %></h2>
  <div>
    <h4>Owners</h4>
    <ul>
      <li><%=h @share.owner.display_name %></li>
    </ul>
  </div>
  <div>
    <h4>Subscribers</h4>
    <ul>
      <% @share.users.each do |user| %>
          <li><%=h user.display_name %></li>
      <% end %>
    </ul>
  </div>
  <div>
    <h4>Documents</h4>
    <ul>
      <% @share.documents.each do |document| %>
          <li><%=h document.file_file_name %></li>
      <% end %>
    </ul>
  </div>
</div>