<% form_for [@document, @audience], :url => document_shares_path do |form| %>
  <div id="audience">
    <%= render 'audiences/fields', :form => form %>

    <%= form.submit "Share" %>
  </div>
<% end %>