$title-color: #548AD4;
$hover-color: #ECECEC;
$header-color: #5E7088;
$odd-color: #F0F8FF;
$divider-color: lightgray;

.forum-title {
  font-size: x-large;
  color: $title-color;
  font-variant: small-caps;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
}

.forum-title:hover {
  color: $header-color;
}

.forum-reply-count {
  font-size: larger;
  float: left;
  width: 50px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding-top: 10px;
}

.forum-divider {
  display: block;
  width: 100%;
  height: 5px;
  background-color: $divider-color;
  margin-top: 5px;
}

.forum-index-selector {
  margin-top: 8px;
  padding: 5px;
}

.forum-index-selector:hover {
  background-color: $hover-color;
}

.forum-index-selector:nth-child(even) {
  background-color: $odd-color;
}

.forum-index-selector:nth-child(even):hover {
  background-color: $hover-color;
}

.forum-left {
  width: 745px;
  float: left;
  display: inline-block;
}

.forum-clear {
  clear: both;
  line-height: 0;
}

.forum-actions {
  font-size: x-small;
  color: $header-color;
  padding-left: 5px;
  cursor: pointer;
}

.forum-actions:hover {
  font-weight: bolder;
}

.forum-header-title {
  display: inline-block;
  width: 750px;
  color: $header-color;
  font-size: x-large;
  font-weight: bold;
}

.forum-header-threads {
  color: $header-color;
  width: 50px;
  display: inline-block;
  text-align: center;
}

.forum-topic-comment-left {
  float: left;  
  width: 15%;
}

.forum-topic-comment-right {
  float: left;
  width: 85%;
}

.forum-topic-comment-lower {
  background-color: $divider-color;
  padding-left: 15%
}

.topic-comment-time {
  font-size: x-small;
  font-style: italic;
  color: gray;
  padding-bottom: 5px;
}

.forum-topic-comment-poster-picture {
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-left: 25px;
  cursor: pointer;
}

.forum-topic-comment-poster-name {
  font-weight: bold;
  font-style: italic;
  padding-left: 5px;
  display: block;
  cursor: pointer;
}

#forumsIndex {
  padding-bottom: 39px;
}

#topicsIndex {
  padding-bottom: 39px;
}
