path.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

path.area {
  fill: #e7e7e7;
}

path.domain {
  fill: none;
  stroke: #DADADA
}

.axis, .rule line {
  shape-rendering: crispEdges;
}

g.legend line {
  shape-rendering: crispEdges;
  stroke-width: 9px;
}

.x.axis .minor {
  stroke-opacity: .5;
}

.rule line {
  fill: none;
  stroke: #EEE;
}

.x.axis line, .x.axis path, .y.axis line, .y.axis path {
  fill: none;
  stroke: #999;
} 


path.trace, circle.point{
  fill: none;
  stroke-width: 1.5px;
}

circle.point{
  fill: white;
}

.d3-tip-row{
  display: table-row;
}

.d3-tip-row span{
  display: table-cell;
  padding: 0px 1px;
}
