<fieldset class="filterable list folders">
  <legend>Select Folder</legend>
  <ul class="check_selector">
    <li class="inbox">
      <%= link_to 'Inbox',folder_inbox_path %>
    </li>
    <li>
      <p>Shares</p>
      <ul class="shares">
        <%= render :partial => "channels/channel", :collection => @shares, :as => :channel %>
      </ul>
    </li>
    <li>
      <p>Folders</p>
      <ul class="folders">
        <%= render :partial => "folders/folder", :collection => @folders, :as => :folder %>
      </ul>
    </li>
  </ul>
</fieldset>