<fieldset class="filterable list folders withsubfolders">
  <h4 class="panel_h">Select Folder</h4>
  <ul class="check_selector">
    <li class="inbox">
      <%= link_to 'Inbox',folder_inbox_path %>
    </li>
    <li>
      <p>Shares</p>
      <ul class="shares">
        <%= render :partial => "shares/share", :collection => @shares, :as => :share %>
      </ul>
    </li>
    <li>
      <p>Folders</p>
      <ul class="folders">
        <%= render :partial => "folders/folder", :collection => @folders, :as => :folder %>
      </ul>
    </li>
  </ul>
</fieldset>