<div id="new_folder">
  <%- form_for @folder do |f| -%>
    <%= f.label :name, "Folder Name" %>
    <%= f.text_field :name %>
    <%= f.hidden_field :parent_id, :value => @folder.id if @folder && @folder.id %>
    <%= f.submit "Create Folder" %>
  <%- end -%>
</div>