/* Favorites styles */

.favorites_bar {
  background-color: #788AA2;
  border: 0 none;
}

.favorite_button {font-size: 11px; color: #444;
    -moz-border-radius:5px; border-radius:5px; border: 1px solid #666;
    -moz-user-select:none;
    -webkit-user-select:none;
    padding:1px 3px;
    background: #eee;
    background: -moz-linear-gradient(center bottom,rgb(233,233,233) 24%,rgb(243,243,243) 55%,rgb(253,253,253) 87%);
    background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.24, rgb(233,233,233)),color-stop(0.55, rgb(243,243,243)),color-stop(0.87, rgb(253,253,253)));
}

.favorite_button.x-btn-over{
    background: #fff;
    background: -moz-linear-gradient(center bottom,rgb(233,233,233) 14%,rgb(255,255,255) 34%,rgb(255,255,255) 74%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.14, rgb(233,233,233)),color-stop(0.34, rgb(255,255,255)),color-stop(0.74, rgb(255,255,255)));
}

.favorite_button.x-btn-over.x-btn-click{
    background: #bbb;
}

/* Dashboard CSS */

.x-portlet-html{
  padding: 10px;
}

.portlet{
  margin: 5px 0px;
}

.portlet.user-mode .x-tool{
  display: none;
}

.portlet.user-mode .x-tool-refresh{
  display: block;
}

.rss-node{
  margin: 2px 0px;
}

.rss-title{
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.rss-launch{
  height: 16px;
  width: 16px;
  margin: 0px 0px 0px 4px;
  display: inline-block;
  vertical-align: text-bottom;
  background-image:url(/images/edit-copy-5.png)
}

.dash-twitter-entry{
  background: white;
  border: 1px solid #D0D0D0;
  border-radius: 3px;
  margin: 2px 0px;
  padding: 3px;
}

.dash-twitter-image{
  margin: 0px 3px 0px 0px;
  float: left;
}
