
.article h2, .feed_article h2, .news_articles h2 {font-size:27px; color:#333;}
.feed_article h4 {font-size: 100%; color: #999;}

.feed_article h2 a {color:#333; text-decoration:none;}
.feed_article h2 a:hover{color:#444; text-decoration:underline;}

.feed_article {margin-bottom:20px; border-bottom:1px solid gray; padding-bottom:10px}
.feed_article h4, .feed_article p {margin:5px 0px;}
.feed_article .fullArticle {display:none;}
.feed_article.more .partArticle {display:none;}
.feed_article.more .fullArticle {display:block;}

.news_articles > div {margin-bottom:20px; border-bottom:1px solid gray; padding-bottom:10px}

.article .date, .feed_article .date, .news_articles .date {color:#666; font-size:12px;}
.article p, .feed_article p, .news_articles p {color:#666; font-size:13px;}

/* Favorites styles */
.favorite_button {font-size: 11px; color: #EEE;
    -moz-border-radius:5px; border-radius:5px; border: 1px solid black;
    -moz-user-select:none;
    -webkit-user-select:none;
    padding:8px 5px;
    background: #3d3d3d;
    background: -moz-linear-gradient(center bottom,rgb(46,46,46) 24%,rgb(61,61,61) 55%,rgb(91,99,91) 87%);
    background-image:-webkit-gradient(linear,left bottom,left top,color-stop(0.24, rgb(46,46,46)),color-stop(0.55, rgb(61,61,61)),color-stop(0.87, rgb(91,99,91)));
}

.favorite_button.x-btn-over{
    background: #5b635b;
    background: -moz-linear-gradient(center bottom,rgb(79,79,79) 14%,rgb(61,61,61) 34%,rgb(128,143,128) 74%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.14, rgb(79,79,79)),color-stop(0.34, rgb(61,61,61)),color-stop(0.74, rgb(128,143,128)));
}

.favorite_button.x-btn-over.x-btn-click{
    background: #4f4f4f;
    background: -moz-linear-gradient(center bottom,rgb(89,94,92) 91%,rgb(66,65,66) 63%,rgb(128,143,128) 1%);
    background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.91, rgb(89,94,92)),color-stop(0.45, rgb(66,65,66)),color-stop(0, rgb(128,143,128)));

}