
span.title        {font-size:15px; font-weight:bold; color:#333; display:block; float:left; padding-left:26px; background:url(../images/status_unknown.png) no-repeat 0 2px;}
span.title.extreme      {background-image:url(../images/status_extreme.png);}
span.title.severe       {background-image:url(../images/status_severe.png);}
span.title.moderate     {background-image:url(../images/status_moderate.png);}
span.title.minor        {background-image:url(../images/status_minor.png);}
li.low            {background:url(../images/status_moderate.png) no-repeat; display:block; float: left; padding:0 26px;}
li.medium         {background:url(../images/status_severe.png) no-repeat; display:block; float: left; padding:0 26px;}
li.high           {background:url(../images/status_extreme.png) no-repeat; display:block; float: left; padding:0 26px;}

ul#alerts                             {margin:0; padding:0; border-top:1px solid #d9d9d9; width:700px}
ul#alerts li                          {margin:0; padding:8px 24px; width:650px; float:left; list-style:none; border:1px solid #d9d9d9; border-top:none; background:url(../images/fade_down.png) repeat-x bottom left;}

ul#alerts div.details                 {padding-left:26px; width:384px;}
ul#alerts div.aside                   {margin-top:-15px; padding-top:0;}
ul#alerts div.extended                {display:none; margin-top:15px;}
ul#alerts a.view_less                 {display:none;}
ul#alerts li.more div.extended        {display:block;}
ul#alerts li.more a.view_less         {display:block;}
ul#alerts li.more a.view_more         {display:none;}




/* ------- Send Alerts ---------------- */

.checkBoxGroup{
    border: 1px #888 solid;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 2px;
    margin: 0 -3px;
}

.formInformational{
    color:#666666;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:13px;
    margin-bottom: 10px;
}

/* ------- End Send Alerts ------------ */


