.devices-control .x-panel-body {background-color:white;}
.devices-label   {font-size:20px; font-weight:bold;}
ul.devices       {margin:0 0 10px 0; padding:0 2px;}
ul.devices li    {margin:6px 0; padding:8px 24px; list-style:none; position: relative; left: 2px;
                  border:1px solid #d9d9d9; background:url(../images/fade_down.png) repeat-x bottom left;}
li.device-selected {outline:#514721 solid 2px;}
span.device-title  {font-size:15px; font-weight:bold; color:#333;}

.roles-control .x-panel-body {background-color:white;}
.roles-label   {font-size:20px; font-weight:bold;}
ul.roles       {margin:0 0 10px 0; padding:0 2px;}
ul.roles li    {margin:6px 0; padding:8px 24px; list-style:none; position: relative; left: 2px;
                border:1px solid #d9d9d9; background:url(../images/fade_down.png) repeat-x bottom left;}
li.role-selected {outline:#514721 solid 2px;}
span.role-title  {font-size:15px; font-weight:bold; color:#333;}

.orgs-control .x-panel-body {background-color:white;}
.orgs-label   {font-size:20px; font-weight:bold;}
ul.orgs       {margin:0 0 10px 0; padding:0 2px;}
ul.orgs li    {margin:6px 0; padding:8px 24px; list-style:none; position: relative; left: 2px;
                border:1px solid #d9d9d9; background:url(../images/fade_down.png) repeat-x bottom left;}
li.org-selected {outline:#514721 solid 2px;}
span.org-title  {font-size:15px; font-weight:bold; color:#333;}

.checkbox-left-margin { margin-left: 2px; }

a.destroy     {width:25px; height:25px; position:absolute; right:0; top:0; text-indent:-9999px; overflow:hidden;
               background:url(/images/cross-circle.png) no-repeat center; cursor:pointer;}
