<h2>Check if delayed_job is running</h2>

<% form_for @test_message do |form| %>
  <p>
    <%= form.label :email %><br />
    <%= form.text_field :email %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
