<div>
  Thanks for signing up! An email will be sent to <%=h @user.email %>
  shortly to confirm your account. Once you've confirmed you'll
  be able to login OpenPHIN. 
  
  If you have any questions please email support@example.com
</div>