<h1>New user (* = Required field)</h1><br/>

<% form_for @user do |f| %>
  <%= render 'new_user_form', :f => f, :user => @user %>
  <p>
    <%= f.submit 'Sign Up' %> or <%= link_to 'Cancel', sign_in_path %>
  </p>
<% end %>


