<h2><a name="PHIN">PHIN</a></h2>

<h3>Registering and Navigating The PHIN</h3>

<p>The tutorial titled “Registering and Navigating The PHIN” provides an overview of the Public Health Information Network (PHIN) and instructs both first-time and previously registered users on how to gain access to the new and improved portal.  Available in both video and print format, this tutorial has been designed to walk users through account set-up and profile maintenance, the functionality of the PHIN Dashboard and “Mini-App” tabs, and the PHIN directory.</p>

<p><a href="/tutorials/Registering%20and%20Navigating%20The%20PHIN%20-%20Manual.pdf">MANUAL</a> | <a href="#">VIDEO</a></p>

<h2><a name="HAN">HAN</a></h2>

<h3>Health Alert Network Training</h3>

<p>The Health Alert Network (HAN) functions as the Texas PHIN’s Health Alert component.  Available in both video and print format, this tutorial teaches registered PHIN users how to access the HAN.   Throughout this tutorial, users will learn how to register their devices (email, phone, SMS/blackberry, fax) to receive alerts, as well as gain a general understanding of how to view alerts from both the PHIN Dashboard and registered devices.  Those users who have been granted the “Health Alert and Communications Coordinator in Texas” role will be guided through the process of creating, submitting, editing and cancelling alerts.</p>

<p><a href="/tutorials/Health%20Alert%20Network%20Training%20-%20Manual.pdf">MANUAL</a> | <a href="/tutorials/Health%20Alert%20Network%20Training.wmv">VIDEO</a></p>
<br/>
<h3>Understanding the Functionality of the “System:Admin” Role</h3>

<p>The “System:Admin” role is a unique role within the TxPHIN portal that provides designated users with additional administrative functionality that does not appear in the role’s absence.  This tutorial is designed to walk a “System:Admin” through approving roles within his or her jurisdiction(s), assigning roles, creating new user profiles, managing groups, and adding multiple users to the PHIN portal through batch upload.</p>

<p><a href="/tutorials/Understanding%20the%20Functionality%20of%20the%20System%20Admin%20Role.pdf">MANUAL</a> | <a href="/tutorials/Registering%20and%20Navigating%20The%20PHIN.wmv">VIDEO</a></p>
<br/>
<h2><a name="Rollcall">Rollcall</a></h2>