--- 
:backgroundrb: 
  :port: 11006
  :ip: 0.0.0.0

:production:
  :backgroundrb:
    :port: 11007
    :lazy_load: true
    :environment: production

:schedules:
  :query_tfcc_for_acknowledgments_worker:
    :query:
      :trigger_args: * */5 * * * *
