--- 
:backgroundrb: 
  :port: 11006
  :ip: 0.0.0.0

:production:
  :backgroundrb:
    :port: 11007
    :lazy_load: true
    :environment: production

:schedules:
  :query_tfcc_for_acknowledgments_worker:
    :query:
      :trigger_args: 0 */5 * * * *
  :phinms_pickup_worker:
    :check:
      :trigger_args: 0 */1 * * * *
  :document_daily_cleanup_worker:
    :clean:
      :trigger_args: 0 0 0 * * * *
  :rollcall_status_updater:
    :mail_status:
      :trigger_args: 0 0 9 * * * *