development:
  port: 3312
  enable_star: true
  min_infix_len: 2
  max_matches: 30000

test: &TEST
  port: 3313
  enable_star: true
  min_infix_len: 2

production:
  enable_star: true
  min_infix_len: 2
  max_matches: 30000

cucumber:
  <<: *TEST
