<p>
  <div class="player">
    Please use the controls below to review the audio alert message
    <applet
      CODE="com.softsynth.javasonics.recplay.PlayerApplet"
      CODEBASE="/codebase"
      ARCHIVE="JavaSonicsListenUp.jar,OggXiphSpeexJS.jar"
      NAME="JavaSonicRecorderUploader"
      WIDTH="186" HEIGHT="42">
      <param name="bevelSize" value="0">
      <param name="showWaveform" value="no">
      <param name="background" value="FFFFFF">
      <param name="showLogo" value="no">
      <param name="showPauseButton" value="no">
      <param name="showTimeText" value="no">
      <param name="showPositionDisplay" value="no">
      <param name="showVUMeter" value="yes">
      <param name="showWaveform" value="no">
      <param name="arrangement" value="wide">
      <param name="packButtons" value="yes">
      <param name="sampleURL" value="<%= sample_url %>">
      <param name="useURLConnection" value="yes">
    </applet>
  </div>
</p>