<%= debug @alerts %>
<table id="alerts">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <% @alerts.each do |alert| %>
      <tr class="alert">
        <td class="title"><%=h alert.title %></td>
      </tr>
    <% end %>
  </tbody>
</table>
