<html>
  <head>
    <%= javascript_include_tag 'ext/adapter/ext/ext-base', 'ext/ext-all', 'alert/acknowledgement_controller', :cache => :alert_acknowledgement  %>
    <%= stylesheet_link_tag 'resources/css/ext-all', 'resources/css/xtheme-Ocean', 'alert_acknowledgement', :cache => :alert_acknowledgement %>
    <script>
      window.callback_url = '<%= update_alert_with_token_url :id => params[:id], :token => params[:token], :format => 'json' %>'
    </script>
  </head>
  <body>
    <%= render 'alert_detail' %>
  </body>
</html>
