<h3>
  <%= "Registrations complete: #{regs["complete"]["percentage"]}% (#{regs["complete"]["total"]})" %>
</h3>
<h3>
  <%= "Registrations incomplete: #{regs["incomplete"]["percentage"]}% (#{regs["incomplete"]["total"]})" %>
</h3>
