<html>
  <body>
    <p>The report <%= @report.class.name %> was generated at <%= l @report.created_at %></p>
    <p>You can view this report via the TALHO Dashboard or directly access it at: <%= link_to "#{@report.class.name} - #{l @report.created_at}", report_url(@report) %></p>
  </body>
</html>
