<div class="t_boot">
  <h2>Reset Your Password</h2>
  <p>
    We will email you a link to change your password.
  </p> 
  <% form_for :password, :url => passwords_path, :html => {:class => "form-stacked"} do |form| %>
    <div class="text_field well">
      <%= form.label :email, "Email address" %>
      <%= form.text_field :email %>
    </div>
    <div class="submit_field">
      <%= form.submit "Reset password", :disable_with => "Please wait...", :class => "btn primary large" %>
    </div>
  <% end %>
</div>
