<% form_for @channel, :url => channel_subscriptions_path, :html => {:method => :post} do |form| %>  
  <div id="audience">
    <div id="edit">
      <% fields_for Audience.new do |audience| %>
        <% unless audience.object.is_a?(Group) %>
          <%= render 'audiences/fields', :form => audience, :group_form => form %>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <p>
    <%= check_box_tag 'owner', '1' %>
    <%= label_tag 'owner', 'Make these people owners' %>
  </p>
  
  <%= form.submit 'Add' %>
<% end %>