<h1>New jurisdiction</h1>

<% form_for(@jurisdiction) do |f| %>
  <%= f.error_messages %>

  <p>
	<%= render :partial => 'form', :locals => {:f => f}  %>

    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', jurisdictions_path %>