<p>
  <%= f.label :jurisdiction_id,  "Jurisdiction" %><br/>
  <%= f.collection_select :jurisdiction_id, Jurisdiction.root.descendants, :id, :name, :include_blank => true %><br/>
</p>

<p>
  <%= f.label :role_id, "Role" %><br/>
  <%= f.collection_select :role_id, Role.user_roles, :id, :name, :include_blank => true %><br/>
</p>
