<div class="group">
  Name: <%= link_to group.name, admin_group_path(group) %> <%= link_to 'Edit', edit_admin_group_path(group)%> <%= link_to 'Destroy', admin_group_path(group), :method => :delete, :class => "destroy" %>
</div><br/>