<h1>New user</h1>

<% form_for [:admin, @user] do |f| %>
  <%= render 'users/new_user_form', :user => @user, :f => f %>
  <p>
    <%= f.submit "Save" %> or <%= link_to 'Cancel', dashboard_path %>
  </p>
<% end %>

