<head>
  <Title>Ext Dashboard</Title>
  <%= javascript_include_tag 'jquery', 'ext/adapter/jquery/ext-jquery-adapter', 'ext/ext-all-debug', 'ext_extensions/AjaxPanel', 'dashboard/index' %>
  <%= stylesheet_link_tag 'resources/css/ext-all.css', 'redesign/master', 'redesign/han'  %>
</head>
<body>
  <%= yield %>
</body>