<div id="wrapper">
  <% flash.each do |key, value| -%>
    <div class="alert-message block-message flash <%= key %>"><%= raw(value) %></div>
  <% end -%>
  <div id="content">
    <%= yield %>
  </div>
</div>
