<div id="wrapper">
  <%- [:notice, :instructions, :completed, :error].each do |type| -%>
    <%- if flash[type] -%>
      <p class="<%=type%> flash"><%= flash[type] %></p>
    <%- end -%>
  <%- end -%>
  <div id="content">
    <%= yield %>
  </div>
</div>
