<div id="wrapper">
  <div class="flash">
    <%- [:notice, :instructions, :completed, :error].each do |type| -%>
      <%- if flash[type] -%>
        <p class="<%= type %>"><%= flash[type] %></p>
      <%- end -%>
    <%- end -%>
  </div>
  <div id="content">
    <%= yield %>
  </div>
</div>
